// ---------------- Fonts ----------------
$baseFont: 'Titillium Web', sans-serif;
$titleFont: 'Open Sans', sans-serif;

// Font-size
$fontSize: 1.8rem;
$headTitleMobileSize: 1.5rem;
$headTitleComputerSize: 2rem;
$titleSize: 2.3rem;

// ---------------- Colors ----------------
$backgroundColor1: #ffffff;
$backgroundColor2: #f5f5f5;
$footerBackgroundColor: #2c2c2c;
$footerTextColor: #e7e7e7;
$textColor1: #272727;
$textColor2: #67727D;
$textColor3: #ffffff;

$associationColor: #3971be;
$associationColorBackground: #e7efff;
$associationColorText: #152639;
$associationColorBorders: #aeb8c4;
$associationColorHover: #3065b4;
$associationColorActive: #285496;

$charterColor: #ffc64a;
$charterColorBackground: #fff6e4;
$charterColorText: #4d3a1e;
$charterColorBorders: #c4b8ae;
$charterColorHover: #fab83e;
$charterColorActive: #f1ad2d;

$commissionColor: #df3603;
$commissionColorBackground: #ffefe9;
$commissionColorText: #4d271b;
$commissionColorBorders: #c4b3ae;
$commissionColorHover: #e25c27;
$commissionColorActive: #c74f20;

$dashboardColor: #257875;
$dashboardColorBackground: #e7f3f2;
$dashboardColorText: #10312e;
$dashboardColorBorders: #a2b9b7;
$dashboardColorHover: #2e857d;
$dashboardColorActive: #27746d;
