@import '@/assets/_custom.scss';

$fieldsBoxShadow: .125rem .125rem .5rem rgba(0, 0, 0, 0.1);

// ---------------- Responsive----------------
$breakpoint-vsm: 320px;
$breakpoint-sm: 340px;
$breakpoint-smd: 400px;
$breakpoint-md: 430px;
$breakpoint-lg: 910px;

// ---------------- Images ----------------
$headerBackground: url('./img/background-header.jpg');
$homeDirectoryBackground: url('./img/background-directory.jpg');
$homeCharterBackground: url('./img/background-charter.jpg');
$homeCommissionBackground: url('./img/background-cape.jpg');

// ---------------- Sizes ----------------
$fullSize: 100%;
$halfSize: 50%;

// Logos
$iconSize: 2.6rem;
$logoSize: 3rem;

// Home Banner q: quasar
$qBannerInfoIconSize: 1.25rem;
$qBannerDotsMobileSize: 1.063rem;

// ---------------- Weights ----------------
$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$black-weight: 900;

// ---------------- Radius ----------------
$radiusCircle: 50%;

// ---------------- Colors ----------------
$stateColorPassword0: #000000;
$stateColorPassword1: #7a2520;
$stateColorPassword2: #c74501;
$stateColorPassword3: #088241;
$stateColorPassword4: #285496;

$stateColorGreen: #088241;
$stateColorOrange: #c74501;
$stateColorRed: #e82026;
$stateColorGrey: #797676;

$errorPanelColor: #db463d;
$errorTextColor: #7a2520;
$warningPanelColor: #e7902a;
$warningTextColor: #7a4120;

$outlineColor1: rgba(255, 255, 255, 0.8);
$outlineColor2: rgba(0, 0, 0, 0.8);
$formSeparatorColor: #d4d4d4;

$customRed: #e91b0c;
$customGreen: #178731;

// ---------------- Colors for Quasar ----------------
// Useful for example for buttons, whom style is tricky to configure
// Simply use it as QBtn attribute 'color'
.text-base {
  color: $textColor1;
}

.bg-base {
  background: $textColor2;
}

.bg-custom-red {
  background: $customRed;
}

.text-custom-red {
  color: $customRed;
}

.bg-custom-green {
  background: $customGreen;
}

.text-custom-green {
  color: $customGreen;
}

.bg-dashboard {
  background: $dashboardColor;
}

.text-dashboard {
  color: $dashboardColor;
}

.bg-association {
  background: $associationColor;
}

.text-association {
  color: $associationColor;
}

.bg-commission {
  background: $commissionColor;
}

.text-commission {
  color: $commissionColor;
}

.text-commission-bold {
  color: $commissionColor;
  font-weight: $xbold-weight;
}

.bg-commission-light {
  background: $commissionColorBackground;
}

.bg-charter {
  background: $charterColor;
}

.text-charter {
  color: $charterColorText;
}

.text-charter-bold {
  color: $charterColorText;
  font-weight: $xbold-weight;
}

.bg-charter-light {
  background: $charterColorBackground;
}

.text-table {
  font-size: 1.6rem;
}