@import '@/assets/variables';

// Bootstrap icons
$bootstrap-icons-font-src: url("../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), url("../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// Fonts
@import '@/assets/_fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $baseFont;
}

html {
  height: $fullSize;
  width: $fullSize;
}

body {
  height: $fullSize;
  width: $fullSize;
}

// Displaying the layout as a table (and the different layout parts as table-rows) is a common trick to make sure the footer stays 
// at the bottom of the viewport even when the page's height is inferior to the viewport's height (without giving the footer an absolute or fixed position).
#layout-page {
  width: $fullSize;
  max-width: unset;
  display: table;
  table-layout: fixed;
  margin: 0 auto;
}

#layout-header, #layout-breadcrumbs, #layout-content, #layout-footer {
  display: table-row;
}

#layout-content {
  height: $fullSize;

}

// Goto top button
.navigate-top-button {
  position: fixed;
  top: 0rem;
  left: calc(100vw - 6.5rem);
  z-index: 3000;
  opacity: 0;
  transition: top 0.15s ease-in-out, opacity 0.15s linear;

  &.visible {
    top: 2rem;
    opacity: 1;
  }

  button {
    display: block;
    width: 4rem;
    height: 4rem;
    border: none;
    background-color: $annuaireColor;
    color: $textColor3;
    border-radius: 50%;
    font-size: 2rem;
    box-shadow: $fieldsBoxShadow;
    transition: background-color 0.03s linear;
    cursor: pointer;

    i {
      display: inline-block;
      transition: transform 0.03s linear;
    }

    &:hover {
      background-color: $annuaireColorHover;

      i {
        transform: scale(1.2);
      }
    }

    &:active {
      background-color: $annuaireColorActive;
    }
  }

  @media (prefers-reduced-motion) {
    top: 2rem;
    transition: opacity 0.15s linear;

    button i {
      transition: none;
    }

    button:hover i {
      transform: none;
    }
  }

}

.variant-space-2 .navigate-top-button {
  button {
    background-color: $charteColor;
    color: $charteColorText;

    &:hover {
      background-color: $charteColorHover;
    }

    &:active {
      background-color: $charteColorActive;
    }
  }
}

.variant-space-3 .navigate-top-button {
  button {
    background-color: $capeColor;

    &:hover {
      background-color: $capeColorHover;
    }

    &:active {
      background-color: $capeColorActive;
    }
  }
}

.variant-space-4 .navigate-top-button {
  button {
    background-color: $dashboardColor;

    &:hover {
      background-color: $dashboardColorHover;
    }

    &:active {
      background-color: $dashboardColorActive;
    }
  }
}

// Page section
.page-section {
  width: $fullSize;
  max-width: $pageWidth;
  margin: 0 auto;
}

// Intro element (Image, title, text) that can be used at the top of pages
.introduction-section {
  margin: 2rem 0 4rem;
  //padding: 0;

  .content {
    display: flex;
    gap: 3rem;
    align-items: center;
    width: $fullSize;
    max-width: $pageWidth;
    margin: 0 auto 0;

    .intro-image {
      flex: 0 0 19rem;
      font-size: 0;

      img {
        width: 19rem;
        height: auto;
      }
    }

    .intro-title {
      font-size: $titleSize;
      line-height: 2.5rem;
      font-weight: $normal-weight;
      color: $annuaireColorText;
      text-transform: uppercase;
      margin-bottom: .6rem;
    }

    p {
      font-size: $textSize;
      font-weight: $normal-weight;
      color: $annuaireColorText;
      text-align: justify;
    }
  }

  &.image-right {
    padding: 2.5rem 0;

    .content {
      flex-direction: row-reverse;
    }
  }

  &.color-background {
    background-color: $annuaireColorBackground;
  }

  @media screen and (min-width: $responsiveWidth) {
    .content {
      .intro-image {
        img {
          margin-left: 1rem;
        }
      }
    }
  }

  @media only screen and (max-width: $pageWidth) {
    .content {
      padding-left: $responsiveMargin;
      padding-right: $responsiveMargin;
      gap: 1.875rem;

      .intro-image {
        flex: 0 0 15.625rem;

        img {
          width: 15.625rem;
        }
      }
    }
  }

  @media only screen and (max-width: $responsiveWidth) {
    .content {
      display: block;

      .intro-image {
        width: $fullSize;
        flex: unset;
        margin-bottom: 0.938rem;
        height: 9.375rem;
        overflow: hidden;

        img {
          width: $fullSize;
          position: relative;
          top: -30%;
        }
      }
    }
  }
}

.variant-space-2 .introduction.color-background {
  background-color: $charteColorBackground;
}

.variant-space-3 .introduction.color-background {
  background-color: $capeColorBackground;
}

.variant-space-4 .introduction.color-background {
  background-color: $dashboardColorBackground;
}

// Titles
.title-1, .title-2, .title-3, .title-4 {
  color: $textColor1;
  font-weight: $normal-weight;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;

  /*@media only screen and (max-width: $pageWidth) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }*/
}

.title-1 {
  font-size: 2.25rem;
}

.title-2 {
  font-size: 1.75rem;
}

.title-3 {
  font-size: 1.5rem;
}

.title-4 {
  font-size: 1.2rem;
}

.title-5 {
  font-size: 1rem;
}

// Paragraphs
p.paragraph {
  color: $textColor1;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 1.8rem;
  text-align: justify;

  .float-left, .float-right {
    position: relative;
    top: 0.4rem;
  }

  .float-left {
    float: left;
    margin: 0 1.4rem 1rem 0;
  }

  .float-right {
    float: right;
    margin: 0 0 1rem 1.4rem;
  }

  @media only screen and (max-width: $pageWidth) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

// Lists
p.paragraph {
  ul, ol {
    padding-left: 2rem;

    li {
      padding-left: 0.4rem;
    }
  }

  ul {
    list-style-type: square;
  }
}
