@import '@/assets/variables';

// Association detail and edition views
.association-detail, .association-edition {
  #association-logo-title {
    .association-logo {
      width: 12rem;
      height: 12rem;
      display: block;
      margin: 1rem auto;
    }

    .q-file, .q-input {
      margin-bottom: .6rem;
    }
  }
}

.association-detail {
  a:link, a:visited {
    text-decoration: none;
    color: $associationColor;
  }

  a:hover, a:focus {
    color: $associationColorHover;
  }

  ul {
    margin: 0;
    list-style: none;
  }

  dt {
    font-weight: $semibold-weight;
  }
}

#association-card {
  ul {
    padding: 0 1rem;

    li {
      span {
        font-weight: $semibold-weight;
      }
    }
  }
}
