@import '@/assets/variables';

#layout-breadcrumbs {
  .q-breadcrumbs {
    background-color: $annuaireColor;
    padding: 1rem;

    & > * {
      width: $fullSize;
      max-width: 120rem;
      margin: 0 auto;
    }

    .q-breadcrumbs__el {
      color: $textColor3;
      text-decoration: none;
    }

    .q-breadcrumbs--last > .q-breadcrumbs__el {
      font-weight: 600;
    }

    .q-breadcrumbs__separator {
      color: $textColor3;
      height: 0.875rem;
      position: relative;
      width: 2.75rem;

      &::before {
        content: ">";
        position: absolute;
        left: 0.75rem;
        top: -0.875rem;
      }
    }

  }

  // The breadcrumbs have several variants (notably one for the home page and one for the login page).
  // Use a different class to switch variant.

  &.variant-home {
    display: none;
  }

  &.variant-space-1 .q-breadcrumbs {
    .q-breadcrumbs__el:focus {
      outline: 2px solid $outlineColor1;
      outline-offset: 2px;
    }
  }

  &.variant-space-2 .q-breadcrumbs {
    background-color: $charteColor;

    .q-breadcrumbs__el {
      color: $charteColorText;

      &:focus {
        outline: 2px solid $outlineColor2;
        outline-offset: 2px;
      }
    }

    .q-breadcrumbs__separator {
      color: $charteColorText;
    }
  }

  &.variant-space-3 .q-breadcrumbs {
    background-color: $capeColor;

    .q-breadcrumbs__el:focus {
      outline: 2px solid $outlineColor1;
      outline-offset: 2px;
    }
  }

  &.variant-space-4 .q-breadcrumbs {
    background-color: $dashboardColor;

    .q-breadcrumbs__el:focus {
      outline: 2px solid $outlineColor1;
      outline-offset: 2px;
    }
  }

  &.variant-minimal .q-breadcrumbs {
    height: 0.625rem;
    padding: 0;

    & > * {
      display: none;
    }
  }
}
