@import '@/assets/_variables.scss';

.contact-project {
  justify-content: center;
  text-align: center;

  .form-container {
    .contact-content {
      display: flex;
      flex-direction: column;
      margin: 1rem;

      .contact-link {
        margin: 1rem auto;
        text-decoration: none;
        color: $textColor3;
        font-size: $textSize;
        background: $annuaireColor;
        border-radius: 1rem;
        padding: 1rem;

        &:hover {
          color: $textColor3;
          background: $annuaireColorHover;
        }
      }
    }

    @media screen and (min-width: $responsiveWidth) {
      flex-direction: column;
    }
  }
}

.contact-section {
  .contact-title {
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
      font-weight: $semibold-weight;
      font-size: $textSize;
      margin: .2rem auto;
    }
  }

  .contact-list {
    margin: auto;
    padding: 1rem;

    h5 {
      width: $fullSize;
    }

    .display-row {
      width: $fullSize;
    }

    .contact-item {
      padding: 1rem;
    }
  }

  @media screen and (min-width: $responsiveWidth) {
    display: flex;
    flex-direction: column;
  }
}