@import '@/assets/variables';

.dashboard-section {
  h2 {
    width: $fullWidth;
    max-width: $pageWidth;
    margin: auto 1.5rem 0;
    background-color: transparent;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $annuaireColorText;

    i {
      color: $annuaireColorText;
      font-size: 1.75rem;
      margin-right: 0.300rem;
      position: relative;
      top: -0.188rem;
    }
  }

  .button-group {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    a {
      display: block;
      width: auto;
    }

    .q-btn {
      font-size: 1rem;
    }
  }

  @media screen and (min-width: $responsiveWidth) {
    h2 {
      margin: 0 auto;
      font-size: 2rem;

      i {
        margin-right: 0.875rem;
      }
    }

    .button-group {
      width: 28.75rem;

      .q-btn {
        font-size: 1.125rem;
      }
    }
  }
}