@import '@/assets/_variables.scss';


.document-input-header > p > i {
  margin-right: 1rem;
}

.flex-btn {
  display: flex;
  gap: 1rem;
}

.library-document {
  span {
    display: flex;
    gap: 0.3rem;

    a {
      color: inherit;
      text-decoration: none;
    }

    i {
      display: none;
      color: $dashboardColor;
    }

    em {
      padding: 0 1rem;
    }
  }

  .active-link {
    a {
      color: $dashboardColor;

      &:hover, &:focus {
        text-decoration: underline;

      }
    }
  }

  &:hover, &:focus {
    i {
      display: inline;
    }
  }
}
