@import '@/assets/_variables.scss';

// A generic form wrapper.
// Most forms on the site must be contained in both a "form" and "form-container" element.
.form-container {
  position: relative;
  background-color: $backgroundColor2;
  padding: 1rem;

  &::before, &::after {
    content: '';
    display: block;
    width: $fullSize;
    height: .75rem;
    position: absolute;
    left: 0;
  }

  &::before {
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) $fullSize);
  }

  &::after {
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) $fullSize);
  }
}

.form {
  @media screen and (min-width: $responsiveWidth) {
    width: $halfSize;
    margin: auto;
  }
}

// Quasar input fields
.q-field {
  .q-field__control {
    background-color: $backgroundColor1;
    border-radius: 0;
    border: .0625rem solid $annuaireColorBorders;
    box-shadow: $fieldsBoxShadow;

    input {
      color: $annuaireColorText;
    }
  }

  &.q-field--focused .q-field__control {
    border-color: $annuaireColor;
  }

  &.q-field--filled.q-field--highlighted .q-field__control::before {
    background: $annuaireColorBackground;
  }

  &.q-field--filled .q-field__control::before {
    background: $annuaireColorBackground;
    border-bottom: none;
  }

  &.q-field--filled .q-field__control::after {
    background: $annuaireColor;
  }

  &.q-field--error .q-field__control::after {
    background: currentColor;
  }

  &.q-field--highlighted .q-field__label {
    color: $annuaireColorText;
  }
}

.q-select {
  .q-field__native {
    padding: .375rem 0 .375rem .5rem;
  }

  .q-field__marginal {
    color: $textColor2;
  }

  &.q-field--focused .q-field__marginal {
    color: $annuaireColor;
  }
}

.variant-space-2 {
  .q-field {
    .q-field__control {
      border-color: $charteColorBorders;

      input {
        color: $charteColorText;
      }
    }

    &.q-field--focused .q-field__control {
      border-color: $charteColor;
    }

    &.q-field--filled.q-field--highlighted .q-field__control::before {
      background: $charteColorBackground;
    }

    &.q-field--filled .q-field__control::before {
      background: $charteColorBackground;
    }

    &.q-field--filled .q-field__control::after {
      background: $charteColor;
    }

    &.q-field--highlighted .q-field__label {
      color: $charteColorText;
    }
  }

  .q-select.q-field--focused .q-field__marginal {
    color: $charteColorActive;
  }
}

.variant-space-3 {
  .q-field {
    .q-field__control {
      border-color: $capeColorBorders;

      input {
        color: $capeColorText;
      }
    }

    &.q-field--focused .q-field__control {
      border-color: $capeColor;
    }

    &.q-field--filled.q-field--highlighted .q-field__control::before {
      background: $capeColorBackground;
    }

    &.q-field--filled .q-field__control::before {
      background: $capeColorBackground;
    }

    &.q-field--filled .q-field__control::after {
      background: $capeColor;
    }

    &.q-field--highlighted .q-field__label {
      color: $capeColorText;
    }
  }

  .q-select.q-field--focused .q-field__marginal {
    color: $capeColor;
  }
}

.variant-space-4 {
  .q-field {
    .q-field__control {
      border-color: $dashboardColorBorders;

      input {
        color: $dashboardColorText;
      }
    }

    &.q-field--focused .q-field__control {
      border-color: $dashboardColor;
    }

    &.q-field--filled.q-field--highlighted .q-field__control::before {
      background: $dashboardColorBackground;
    }

    &.q-field--filled .q-field__control::before {
      background: $dashboardColorBackground;
    }

    &.q-field--filled .q-field__control::after {
      background: $dashboardColor;
    }

    &.q-field--highlighted .q-field__label {
      color: $dashboardColorText;
    }
  }

  .q-select.q-field--focused .q-field__marginal {
    color: $dashboardColor;
  }
}

// Custom input fields
input.custom-input, select.custom-input, textarea.custom-input {
  width: $fullSize;
  background-color: $backgroundColor1;
  border-radius: 0;
  border: .0625rem solid $annuaireColorBorders;
  box-shadow: $fieldsBoxShadow;
  padding: .625rem 1.25rem .75rem;
  color: $annuaireColorText;
  font-size: 1.125rem;
  font-weight: $medium-weight;
  transition: border-color 0.07s linear;
  margin-bottom: 1.2rem;

  &:focus {
    border-color: $annuaireColor;
    outline: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.variant-space-2 {
  input.custom-input, select.custom-input, textarea.custom-input {
    &:focus {
      border-color: $charteColorHover;
    }
  }
}

.variant-space-3 {
  input.custom-input, select.custom-input, textarea.custom-input {
    &:focus {
      border-color: $capeColor;
    }
  }
}

.variant-space-4 {
  input.custom-input, select.custom-input, textarea.custom-input {
    &:focus {
      border-color: $dashboardColor;
    }
  }
}

textarea.custom-input {
  resize: vertical;
}

label.custom-label {
  display: inline-block;
  color: $textColor2;
  font-size: .9375rem;
  font-weight: $semibold-weight;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

// Quasar buttons
// MARK: DO NOT DELETE
.q-btn {
  background-color: $annuaireColor;
  border-radius: .3rem;
  padding: .9rem;
  font-size: 1.125rem;
  font-weight: $light-weight;
  transition: background-color 0.03s linear;
  box-shadow: $fieldsBoxShadow;

  & > * {
    color: $textColor3;
  }

  &:focus-visible {
    outline: 2px solid $outlineColor2 !important;
    outline-offset: -2px;
  }

  .q-icon {
    font-size: 1.3rem;
  }

  &::before, .q-focus-helper {
    display: none;
  }

  &:hover, &.bg-primary:hover, &.bg-secondary:hover {
    background-color: $annuaireColorHover !important;
  }

  &:active, &.bg-primary:active, &.bg-secondary:active {
    background-color: $annuaireColorActive !important;
  }

  &.bg-primary {
    background: $annuaireColor !important;
  }

  &.bg-secondary {
    background: $annuaireColor !important;
  }

  .q-btn__content {
    flex-wrap: nowrap;
  }

  &.small-button {
    padding: .375rem 1.875rem;
    font-size: 1rem;

    i {
      font-size: 1.125rem;
    }
  }

  &.btn-alt {
    box-shadow: none;
    background-color: $backgroundColor1 !important;
    border: 1px solid $annuaireColorText;

    .q-btn__content > * {
      color: $annuaireColorText;
    }

    &:hover {
      background-color: $annuaireColorText !important;

      .q-btn__content > * {
        color: white !important;
      }
    }

    &:active {
      background-color: mix(white, $annuaireColorText, 15%) !important;

      .q-btn__content > * {
        color: white !important;
      }
    }
  }

  &.bg-delete {
    background: $stateColor3;

    &:hover {
      background: $errorPanelColor !important;
    }
  }
}

.variant-space-2 {
  .q-btn {
    background-color: $charteColor;

    &:hover, &.bg-primary:hover, &.bg-secondary:hover {
      background-color: $charteColorHover !important;
    }

    &:active, &.bg-primary:active, &.bg-secondary:active {
      background-color: $charteColorActive !important;
    }

    &.bg-primary {
      background: $charteColor !important;
    }

    &.bg-secondary {
      background: $charteColor !important;
    }

    .q-btn__content > * {
      color: $charteColorText;
    }

    &.btn-alt {
      border: 1px solid $charteColorText;

      .q-btn__content > * {
        color: $charteColorText;
      }

      &:hover {
        background-color: $charteColorText !important;
      }

      &:active {
        background-color: mix(white, $charteColorText, 15%) !important;
      }
    }
  }
}

.variant-space-3 {
  .q-btn {
    background-color: $capeColor;

    &:hover, &.bg-primary:hover, &.bg-secondary:hover {
      background-color: $capeColorHover !important;
    }

    &:active, &.bg-primary:active, &.bg-secondary:active {
      background-color: $capeColorActive !important;
    }

    &.bg-primary {
      background: $capeColor !important;
    }

    &.bg-secondary {
      background: $capeColor !important;
    }

    &.btn-alt {
      border: 1px solid $capeColorText;

      .q-btn__content > * {
        color: $capeColorText;
      }

      &:hover {
        background-color: $capeColorText !important;
      }

      &:active {
        background-color: mix(white, $capeColorText, 15%) !important;
      }
    }
  }
}

.variant-space-4 {
  .q-btn {
    background-color: $dashboardColor;

    &:hover, &.bg-primary:hover, &.bg-secondary:hover {
      background-color: $dashboardColorHover !important;
    }

    &:active, &.bg-primary:active, &.bg-secondary:active {
      background-color: $dashboardColorActive !important;
    }

    &.bg-primary {
      background: $dashboardColor !important;
    }

    &.bg-secondary {
      background: $dashboardColor !important;
    }

    &.bg-alt {
      border: 1px solid $dashboardColorText;

      .q-btn__content > * {
        color: $dashboardColorText;
      }

      &:hover {
        background-color: $dashboardColorText !important;
      }

      &:active {
        background-color: mix(white, $dashboardColorText, 15%) !important;
      }
    }

    &.bg-delete {
      background: $stateColor3;

      &:hover {
        background: $errorPanelColor !important;
      }
    }
  }
}

.btn-group {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;

  @media screen and (min-width: $responsiveWidth) {
    flex-direction: row;
    justify-content: center;
  }
}


.buttons-group {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

// A document form element allowing to upload, remove and review a list of documents.
.document-input-group {
  .document-input {
    margin-bottom: 1.25rem;

    .document-input-header {
      background-color: $backgroundColor1;
      box-shadow: $fieldsBoxShadow;
      height: 3.75rem;
      border-left: .25rem solid $annuaireColor;
      position: relative;
      white-space: nowrap;
      padding: 0 5.3125rem 0 1.5625rem;
      line-height: 3.75rem;

      & > h4 {
        display: inline-block;
        max-width: $fullSize;
        font-size: 1.125rem;
        font-weight: $medium-weight;
        color: $textColor1;
        text-transform: uppercase;
        line-height: 3.75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > p {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 .3125rem;
        font-size: 1.125rem;
        line-height: inherit;

        button {
          display: inline-block;
          opacity: 0.6;
          padding: .125rem .3125rem;
          cursor: pointer;
          vertical-align: middle;
          line-height: normal;
          transition: transform 0.03s linear;
          position: relative;
          top: -0.14rem;
          background: transparent;
          border: none;

          &:hover {
            opacity: 0.8;
            transform: scale(1.15);

            @media (prefers-reduced-motion) {
              transform: none;
            }
          }

          &:active {
            opacity: 1;
          }
        }
      }

      & > button {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.875rem;
        color: $textColor1;
        width: 3.75rem;
        height: 3.75rem;
        background-color: transparent;
        border: none;
        border-radius: 0;
        cursor: pointer;

        &:hover {
          background-color: $annuaireColor;
        }

        &:active {
          background-color: mix(white, $annuaireColor, 10%);
        }

        &:disabled {
          opacity: 0.4 !important;

          &:hover {
            background-color: transparent;
          }

          &:active {
            background-color: transparent;
          }
        }
      }
    }

    .document-input-list {
      padding: .9375rem .5rem .9375rem .9375rem;

      .document-item {
        height: 2.8125rem;
        position: relative;
        padding: .3125rem 4.0625rem 0 .9375rem;

        &:hover {
          background-color: rgba(255, 255, 255, 0.65);
          box-shadow: $fieldsBoxShadow;

          button {
            display: inline-block;

            &:disabled {
              display: none;
            }
          }
        }

        p {
          width: $fullSize;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:focus-within {
            outline: 2px solid $outlineColor2;
            outline-offset: 2px;
          }

          & > i {
            font-size: 1.125rem;
            color: $textColor1;
            margin-right: .3125rem;
          }

          a {
            font-size: 1.1875rem;
            font-weight: $medium-weight;
            color: $textColor1;
            text-decoration: none;
            cursor: pointer;

            i {
              font-size: 1.125rem;
              color: $textColor1;
              margin-left: .3125rem;
              display: none;
            }

            &:hover {
              text-decoration: underline;

              i {
                display: inline;
              }
            }

            &:active {
              opacity: 0.8;
            }

            &:focus {
              outline: none;
            }
          }
        }

        button {
          height: 2.8125rem;
          width: 2.8125rem;
          background-color: transparent;
          border: none;
          border-radius: 0;
          cursor: pointer;
          display: none;
          position: absolute;
          top: 0;
          right: 0;

          &:hover {
            background-color: $annuaireColor;
          }

          &:active {
            background-color: mix(white, $annuaireColor, 10%);
          }
        }
      }
    }
  }

  button:focus-visible {
    outline: 2px solid $outlineColor2;
  }
}

.variant-space-2 {
  .document-input-group .document-input {
    .document-input-header {
      border-color: $charteColor;

      & > button {
        &:hover {
          background-color: $charteColor;
        }

        &:active {
          background-color: mix(white, $charteColor, 10%);
        }
      }
    }

    .document-input-list .document-item button {
      &:hover {
        background-color: $charteColor;
      }

      &:active {
        background-color: mix(white, $charteColor, 10%);
      }
    }
  }
}

.variant-space-3 {
  .document-input-group .document-input {
    .document-input-header {
      border-color: $capeColor;

      & > button {
        &:hover {
          background-color: $capeColor;
        }

        &:active {
          background-color: mix(white, $capeColor, 10%);
        }
      }
    }

    .document-input-list .document-item button {
      &:hover {
        background-color: $capeColor;
      }

      &:active {
        background-color: mix(white, $capeColor, 10%);
      }
    }
  }
}

.variant-space-4 {
  .document-input-group .document-input {
    .document-input-header {
      border-color: $dashboardColor;

      & > button {
        &:hover {
          background-color: $dashboardColor;
        }

        &:active {
          background-color: mix(white, $dashboardColor, 10%);
        }
      }
    }

    .document-input-list .document-item button {
      &:hover {
        background-color: $dashboardColor;
      }

      &:active {
        background-color: mix(white, $dashboardColor, 10%);
      }
    }
  }
}

// MARK: DO NOT DELETE

// A title that can be located on top of a form wrapper.
.form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: $fullSize;
  max-width: $pageWidth;
  margin: 0 auto;
  padding: 1rem;
  background-color: transparent;

  h2 {
    font-size: $formTitleMobileSize;
    line-height: 2rem;
    text-transform: uppercase;
    color: $annuaireColorText;

    i {
      color: $annuaireColorText;
      font-size: $formTitleMobileSize;
      margin-right: .875rem;
      position: relative;
      top: -0.1rem;
    }
  }

  @media screen and (min-width: $responsiveWidth) {
    padding: 0;

    h2 {
      font-size: $formTitleComputerSize;
      line-height: 4rem;
    }

  }
}

// Generic Quasar tables, as found mainly in the admin section of the site
.q-table__container {
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;

  .q-table__top {
    display: none;
  }

  &.q-table--horizontal-separator thead th, &.q-table--horizontal-separator tbody td {
    border: none;
  }

  .q-table__middle {
    overflow: auto;
    width: $fullSize;
  }

  .q-table__bottom {
    border-top: none;
    font-size: 1.0625rem;
    color: $annuaireColorText;
    padding: 1rem 0;

    .q-btn.q-btn-item {
      margin-right: 0.25rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .q-table {
    border-collapse: separate;
    border-spacing: 0 .625rem;
    width: $fullSize;
    height: 1px;

    thead tr {
      background-color: $annuaireColor;
      box-shadow: $fieldsBoxShadow;

      th {
        font-size: 1.125rem;
        font-weight: $medium-weight;
        color: $textColor3;
        text-transform: uppercase;
        padding: .3125rem .625rem;

        &:first-child {
          padding-left: .875rem;
        }

        .q-checkbox__inner {
          color: $textColor3;

          &.text-grey-8 {
            color: $textColor3 !important;

            .q-checkbox__svg {
              color: $annuaireColor;
            }
          }
        }
      }
    }

    tbody {
      tr {
        background-color: $backgroundColor1;
        box-shadow: $fieldsBoxShadow;
        height: 1px;

        td {
          height: unset;
          font-size: 1.125rem;
          font-weight: $medium-weight;
          color: $annuaireColorText;
          white-space: normal;
          padding: .4375rem .625rem;

          &:first-child {
            border-left: .25rem solid $annuaireColor;
          }

          &.actions-cell, &.actions-cell-compact {
            padding: 0;
            height: $fullSize;
            width: 0;

            .button-container {
              display: flex;
              height: $fullSize;
              gap: 0;
              flex-direction: row;
              justify-content: center;
            }

            .q-btn {
              display: flex;
              font-size: 1rem;
              width: $fullSize;
              height: $fullSize;
            }
          }

          &.actions-cell {
            padding-left: 1rem;

            .button-container {
              gap: .125rem;
            }

            .q-btn {
              padding: .625rem 1.2rem;

              .q-btn__content {
                flex-wrap: nowrap;

                i {
                  font-size: 1.25rem;
                }
              }
            }
          }

          &.actions-cell-compact {
            padding-left: 0.6rem;

            .q-btn {
              padding: .625rem .65rem;
              background: transparent !important;
              box-shadow: none;
              transition: box-shadow 0.08s linear, background-color 0.08 linear;

              .q-btn__content * {
                color: $textColor2;
                font-weight: $medium-weight;
              }

              .q-btn__content i {
                font-size: 1.1rem;
              }

              &:hover {
                box-shadow: 0 -0.25rem 0 0 $annuaireColor inset;

                .q-btn__content * {
                  color: $textColor1;
                }
              }

              &:active {
                background: transparentize($annuaireColor, 0.9) !important;
              }
            }
          }

          &::before {
            background: transparentize($annuaireColor, 0.95);
          }

          &::after {
            background: transparentize($annuaireColor, 0.9);
          }
        }
      }
    }
  }
}

.variant-space-2 {
  .q-table__container {
    .q-table__bottom {
      color: $charteColorText;
    }

    .q-table {
      thead tr {
        background-color: $charteColor;

        th {
          color: $charteColorText;

          .q-table__sort-icon svg {
            color: $charteColorText;
          }

          .q-checkbox__inner {
            .q-checkbox__bg {
              border-color: $charteColorText;
            }

            &.q-checkbox__inner--truthy {
              .q-checkbox__bg {
                background-color: $charteColorText;
              }
            }

            &.text-grey-8 {
              .q-checkbox__svg {
                color: $charteColor;
              }
            }
          }
        }
      }

      tbody tr td {
        color: $charteColorText;

        &:first-child {
          border-color: $charteColor;
        }

        &.actions-cell-compact {
          .q-btn {
            &:hover {
              box-shadow: 0 -0.25rem 0 0 $charteColor inset;
            }

            &:active {
              background: transparentize($charteColor, 0.9) !important;
            }
          }
        }

        &::before {
          background: transparentize($charteColor, 0.95);
        }

        &::after {
          background: transparentize($charteColor, 0.9);
        }

        .q-checkbox__inner {
          &.q-checkbox__inner--truthy {
            .q-checkbox__bg {
              border-color: $charteColorText;
            }

            &.q-checkbox__inner--truthy {
              .q-checkbox__bg {
                background-color: $charteColorText;
              }
            }
          }
        }
      }
    }
  }
}

.variant-space-3 {
  .q-table__container {
    .q-table__bottom {
      color: $capeColorText;
    }

    .q-table {
      thead tr {
        background-color: $capeColor;

        th {
          .q-table__sort-icon svg {
            color: $capeColorText;
          }

          .q-checkbox__inner {
            &.text-grey-8 {
              .q-checkbox__svg {
                color: $capeColor;
              }
            }
          }
        }
      }

      tbody tr td {
        color: $capeColorText;

        &:first-child {
          border-color: $capeColor;
        }

        &.actions-cell-compact {
          .q-btn {
            &:hover {
              box-shadow: 0 -0.25rem 0 0 $capeColor inset;
            }

            &:active {
              background: transparentize($capeColor, 0.9) !important;
            }
          }
        }

        &::before {
          background: transparentize($capeColor, 0.95);
        }

        &::after {
          background: transparentize($capeColor, 0.9);
        }

        .q-checkbox__inner {
          &.q-checkbox__inner--truthy {
            .q-checkbox__bg {
              border-color: $capeColor;
            }

            &.q-checkbox__inner--truthy {
              .q-checkbox__bg {
                background-color: $capeColor;
              }
            }
          }
        }
      }
    }
  }
}

.variant-space-4 {
  .q-table__container {
    .q-table__bottom {
      color: $dashboardColorText;
    }

    .q-table {
      thead tr {
        background-color: $dashboardColor;

        th {
          .q-table__sort-icon svg {
            color: $dashboardColorText;
          }

          .q-checkbox__inner {
            &.text-grey-8 {
              .q-checkbox__svg {
                color: $dashboardColor;
              }
            }
          }
        }
      }

      tbody tr td {
        color: $dashboardColorText;

        &:first-child {
          border-color: $dashboardColor;
        }

        &.actions-cell-compact {
          .q-btn {
            &:hover {
              box-shadow: 0 -0.25rem 0 0 $dashboardColor inset;
            }

            &:active {
              background: transparentize($dashboardColor, 0.9) !important;
            }
          }
        }

        &::before {
          background: transparentize($dashboardColor, 0.95);
        }

        &::after {
          background: transparentize($dashboardColor, 0.9);
        }

        .q-checkbox__inner {
          &.q-checkbox__inner--truthy {
            .q-checkbox__bg {
              border-color: $dashboardColor;
            }

            &.q-checkbox__inner--truthy {
              .q-checkbox__bg {
                background-color: $dashboardColor;
              }
            }
          }
        }
      }
    }
  }
}

// State badges that can be used in forms.
// Icons aren't defined here, only colors.
.form-state {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  color: $textColor1;
  font-size: 1.125rem;
  font-weight: $medium-weight;

  .form-state-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: $radiusCircle;
    box-shadow: $fieldsBoxShadow;
    line-height: 1.5rem;
    text-align: center;
    margin-left: .4375rem;

    i {
      display: inline-block;
      color: $textColor3;
      font-size: 1.2rem;
      position: relative;
    }
  }

  .form-state-green {
    background-color: $stateColor1;
  }

  .form-state-orange {
    background-color: $stateColor2;
  }

  .form-state-red {
    background-color: $stateColor3;
  }
}

// Select elements used to choose an action to perform on selected table rows.
.table-actions-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.875rem 0 .9375rem;

  label {
    width: $fullSize;
  }

  .q-btn {
    padding: .875rem 1.875rem;

    .q-btn__content {
      flex-wrap: nowrap;

      & > * {
        color: $textColor3;
        white-space: nowrap;
      }
    }
  }
}

// Quasar dialog window
.q-dialog {
  .q-card {
    border-radius: 0;
  }

  .dialog-message {
    font-size: 1rem;
    font-weight: $medium-weight;
    color: $textColor1;
    padding: 1.5625rem;

    ul {
      padding-left: 1.5625rem;
      list-style-type: square;
    }
  }

  .dialog-card-actions {
    padding: 0 1.5625rem 1.5625rem;
    display: flex;
    gap: .9375rem;

    .q-btn {
      padding: .625rem 1.25rem;
      font-size: 1rem;
      margin: 0;
    }
  }
}

// Quasar pagination
.q-pagination {
  margin: 3rem 0 0.5rem;

  .q-pagination__content {
    width: $fullSize;

    .q-pagination__middle {
      margin: 0 auto;
      gap: 0.2rem;

      button {
        padding: 0.7rem 1.4rem !important;
        font-size: 1.3rem;

        &.q-btn--standard {
          background: $backgroundColor1 !important;
          pointer-events: none;

          .q-btn__content * {
            color: $annuaireColor;
            font-weight: $semibold-weight;
          }
        }
      }
    }
  }
}

.variant-space-2 {
  .q-pagination .q-pagination__content .q-pagination__middle button.q-btn--standard .q-btn__content * {
    color: $charteColorActive;
  }
}

.variant-space-3 {
  .q-pagination .q-pagination__content .q-pagination__middle button.q-btn--standard .q-btn__content * {
    color: $capeColor;
  }
}

.variant-space-4 {
  .q-pagination .q-pagination__content .q-pagination__middle button.q-btn--standard .q-btn__content * {
    color: $dashboardColor;
  }
}

// Custom pagination
.pagination {
  display: flex;
  margin: 2rem 0;
  justify-content: center;

  .wrapper {
    display: inline-flex;
    // gap: 0.2rem;
    background-color: $backgroundColor1;
    box-shadow: $fieldsBoxShadow;

    .q-btn {
      box-shadow: none;
      padding: 1rem 1.4rem;
      background-color: $backgroundColor1;

      .q-btn__content i {
        color: $annuaireColor;
      }

      &:hover, &:active {
        .q-btn__content i {
          color: $textColor3 !important;
        }
      }

      &.counter-button {
        padding: 1rem 2.4rem;
        color: $textColor2;
        font-size: 1.4rem;

        strong {
          color: $annuaireColor;
          font-weight: $xbold-weight;
          padding: 0 0.3rem;
        }

        &:hover, &:active {
          color: $textColor3 !important;

          strong {
            color: $textColor3 !important;
          }
        }
      }
    }
  }
}

.variant-space-2 {
  .pagination .wrapper .q-btn {
    &:hover, &:active {
      .q-btn__content i {
        color: $charteColorText !important;
      }
    }

    .q-btn__content i {
      color: $charteColorActive;
    }

    &.counter-button strong {
      color: $charteColorActive;
    }

    &.counter-button {
      &:hover, &:active {
        color: $charteColorText !important;

        strong {
          color: $charteColorText !important;
        }
      }
    }
  }
}

.variant-space-3 {
  .pagination .wrapper .q-btn {
    .q-btn__content i {
      color: $capeColor;
    }

    &.counter-button strong {
      color: $capeColor;
    }
  }
}

.variant-space-4 {
  .pagination .wrapper .q-btn {
    .q-btn__content i {
      color: $dashboardColor;
    }

    &.counter-button strong {
      color: $dashboardColor;
    }
  }
}

// Info panels (error, warning...)
.info-panel {
  padding: 1.25rem 1.875rem;
  border: 1px solid $textColor2;
  background-color: transparentize($textColor2, 0.9);
  position: relative;
  margin: 1.2rem 0;

  p {
    color: $textColor1;
    font-size: 1.125rem;
    margin: 0;
  }

  &.info-panel-error {
    border-color: $errorPanelColor;
    background-color: transparentize($errorPanelColor, 0.9);

    p {
      color: $errorTextColor;
    }

    i {
      background-color: $errorPanelColor;
    }
  }

  &.info-panel-warning {
    border-color: $warningPanelColor;
    background-color: transparentize($warningPanelColor, 0.9);

    p {
      color: $warningTextColor;
    }

    i {
      background-color: $warningPanelColor;
    }
  }

  i {
    display: block;
    position: absolute;
    top: -0.3125rem;
    left: -0.3125rem;
    background-color: $textColor2;
    color: $textColor3;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 0.7rem;
    outline: 2px solid $backgroundColor1;
    text-align: center;
    font-size: 1.15rem;
    line-height: 1.4rem;
  }
}

.form-container .info-panel i {
  outline-color: $backgroundColor2;
}

// Form section title
.section-title {
  color: $textColor1;
  font-size: $formTitleMobileSize;
  text-transform: uppercase;
  margin-bottom: 1.4rem;

  i {
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1.125rem;
    background-color: $annuaireColor;
    color: $textColor3;
    box-shadow: $fieldsBoxShadow;
    text-align: center;
    font-size: 1.15rem;
    line-height: 2.2rem;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
    top: -3px;
  }

  @media only screen and (max-width: $responsiveWidth) {
    margin-bottom: 0.8rem;
  }
}

.variant-space-2 .section-title i {
  background-color: $charteColor;
  color: $charteColorText;
}

.variant-space-3 .section-title i {
  background-color: $capeColor;
}

.variant-space-4 .section-title i {
  background-color: $dashboardColor;
}

// Image input
.image-input {
  display: flex;
  width: $fullSize;
  aspect-ratio: 1;
  background-color: $backgroundColor1;
  box-shadow: 0 0 0 1px $annuaireColorBorders inset, $fieldsBoxShadow;
  padding: 0.95rem;
  position: relative;
  align-items: center;
  overflow: hidden;

  img {
    width: $fullSize;
    height: auto;
    max-height: $fullSize;
    position: relative;
    z-index: 1;
  }

  input[type=file] {
    position: absolute;
    left: -9999px;

    &:focus + label {
      opacity: 1;
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    width: $fullSize;
    height: $fullSize;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: opacity 0.05s linear, background-color 0.05s linear;

    i {
      display: inline-block;
      width: 2.75rem;
      height: 2.75rem;
      border-radius: 1.375rem;
      background-color: $annuaireColor;
      vertical-align: middle;
      box-shadow: $fieldsBoxShadow;
      color: $textColor3;
      font-size: 1.4rem;
      line-height: 2.7rem;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.variant-space-2 .image-input {
  box-shadow: 0 0 0 1px $charteColorBorders inset;

  label i {
    background-color: $charteColor;
    color: $charteColorText;
  }
}

.variant-space-3 .image-input {
  box-shadow: 0 0 0 1px $capeColorBorders inset;

  label i {
    background-color: $capeColor;
  }
}

.variant-space-4 .image-input {
  box-shadow: 0 0 0 1px $dashboardColorBorders inset;

  label i {
    background-color: $dashboardColor;
  }
}

// Form page navigation
.form-page-navigation {
  width: $fullSize;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    text-align: center;
  }

  button {
    flex: 0 0 17rem;
  }
}

// Multi-column form
.form-col-container {
  display: flex;
  align-items: stretch;
  width: $fullSize;
  margin: 2rem 0;

  .form-col {
    flex: 1 1 0;
    padding: 0 3.2rem;
    border-left: 1px solid $formSeparatorColor;

    &:first-child {
      padding-left: 0;
      border: none;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @media only screen and (max-width: $pageWidth) {
    .form-col {
      padding: 0 2rem;
    }
  }

  @media only screen and (max-width: $responsiveWidth) {
    flex-direction: column;

    .form-col {
      flex: 1 1 0;
      padding: 0;
      border-left: none;
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Display rows
.display-row, .comment-row {
  width: $fullSize;
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor1;
  box-shadow: $fieldsBoxShadow;
  border-left: 4px solid $annuaireColor;
  padding: 0.8rem 1.5625rem;
  color: $textColor1;
  font-size: 1.25rem;
  font-weight: $medium-weight;

  p {
    margin: 0;
  }

  .row-title {
    margin: 0;
    text-transform: uppercase;
    flex: 0 0 30%;
    color: $textColor1;
    font-size: 1.25rem;
    font-weight: $medium-weight;
    line-height: normal;
  }

  &.space-between {
    justify-content: space-between;
  }

  .q-select, .q-textarea, .q-input {
    margin-bottom: .625rem;
  }

  @media screen and (min-width: $responsiveWidth) {
    width: $halfSize;
    margin-left: auto;
    margin-right: auto;
  }
}

.comment-row {
  flex-direction: column;
  gap: .625rem;
  padding-bottom: 1.2rem;

  .comment-head {
    color: $textColor2;
    font-size: 1.125rem;
    font-weight: $medium-weight;

    .value {
      color: $textColor1;
      font-weight: $semibold-weight;
    }

    i {
      margin-right: .5rem;
    }
  }
}

.variant-space-2 {
  .display-row, .comment-row {
    border-color: $charteColor;
  }
}

.variant-space-3 {
  .display-row, .comment-row {
    border-color: $capeColor;
  }
}

.variant-space-4 {
  .display-row, .comment-row {
    border-color: $dashboardColor;
  }
}

