@import '@/assets/_variables.scss';

// Intro element on the home page
#home-info-panel {
  padding: 1.5rem;

  .home-banner-icon {
    display: inline-block;
    width: 3.5rem;
    height: 2.2rem;
    border-radius: $radiusCircle;
    border: solid $annuaireColor 0.200rem;
    position: relative;

    i {
      color: $annuaireColor;
      position: absolute;
      top: -0.1rem;
      left: 0.25rem;
      font-size: 1.3rem;
    }

    &::before, &::after {
      content: '';
      display: block;
      width: $qBannerDotsMobileSize;
      height: $qBannerDotsMobileSize;
      border-radius: $radiusCircle;
      position: absolute;
      left: $qBannerDotsMobilePadding;

      @media screen and (min-width: $responsiveWidth) {
        left: $qBannerDotsComputerPadding;
      }
    }

    &::before {
      background-color: $charteColor;
      bottom: -1.5rem;
    }

    &::after {
      background-color: $capeColor;
      bottom: -3rem;
    }

    @media screen and (min-width: $responsiveWidth) {
      width: 2.2rem;
    }
  }

}

// Sections for each space on the site
.home-section {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0;

  & > div {
    width: $fullSize;
    max-width: $pageWidth;
    margin: 0 auto;
    padding: 0;

    a {
      margin: 0;
    }
  }

  &.home-section-annuaire {
    background-image: $homeDirectoryImage;
    background-position: center center;

    .card-icon {
      text-align: center;

      i {
        font-size: $iconSize;
        color: $annuaireColor;
      }
    }
  }

  &.home-section-charte {
    background-image: $homeCharterImage;
    background-position: center center;

    .section-card {
      flex-direction: row-reverse;

      .card-icon {
        text-align: center;

        i {
          font-size: $iconSize;
          color: $charteColor;
        }
      }
    }
  }

  &.home-section-cape {
    background-image: $homeCapeImage;
    background-position: center center;

    .card-icon {
      text-align: center;

      i {
        font-size: $iconSize;
        color: $capeColor;
      }
    }
  }

  .section-card {
    display: block;
    border-radius: 1rem;
    position: relative;
    background-color: $backgroundColor1;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.2);
    padding: 3rem;
    gap: 18rem;
    align-items: center;
    overflow: hidden;

    .section-background {
      background-color: $annuaireColorBackground;
      height: 50rem;
      width: 20rem;
      position: absolute;
      top: calc(50% - 25rem);
      left: 0;

      span {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25rem 0 25rem 6.20rem;
        border-color: transparent transparent transparent $annuaireColorBackground;
        position: absolute;
        right: -6rem;
      }
    }

    .section-title {
      flex: 0 0 26.25rem;
      position: relative;
      z-index: 2;

      h2 > span:first-child {
        display: flex;
        gap: 1rem;
        font-family: $titleFont;
        font-size: 3.8rem;
        font-weight: $semibold-weight;
        color: $annuaireColorText;
        text-transform: uppercase;
      }

      h3 {
        line-height: 2.8rem;
      }

      .section-icon {
        display: inline-flex;
        gap: .6rem;
        align-items: center;

        span {
          display: inline-block;
          width: 2rem;
          height: 2rem;
          background-color: $annuaireColor;
          color: $annuaireColorText;
          border-radius: $radiusCircle;

          &:first-child {
            width: 4.2rem;
            height: 4.2rem;
            color: $annuaireColorText;
            text-align: center;

            i {
              position: relative;
              font-size: $iconSize;
              color: $annuaireColorText;
              top: -1.1rem;
              left: 0.2rem;
            }
          }
        }
      }
    }

    .section-info {
      font-weight: $normal-weight;
      line-height: 2rem;
      color: $annuaireColorText;
      border-left: .25rem solid $annuaireColor;
      padding: 0 0 0 1rem;
      margin: 1.25rem auto 1rem;

      p {
        margin: 0;
        font-size: 1.9rem;

        strong {
          font-weight: $bold-weight;
        }
      }
    }

    .section-content {
      position: relative;
      z-index: 1;

      p {
        font-weight: $normal-weight;
        color: $annuaireColorText;
      }

      .section-buttons {
        text-align: center;
        margin: 1rem;

        a {
          display: inline-block;
          padding: 1rem;
          font-weight: $normal-weight;
          color: $annuaireColorText;
          border: .0625rem solid $annuaireColorText;
          background-color: transparent;
          text-decoration: none;
          text-transform: uppercase;
          transition: background-color 0.03s linear, color 0.03s linear;

          i {
            font-size: $iconSize;
            position: relative;
            top: .07rem;
          }

          &:hover {
            background-color: $annuaireColorText;
            color: $textColor3;
          }

          &:active {
            background-color: transparentize($annuaireColorText, 0.1);
            color: $textColor3;
          }
        }
      }
    }

    @media screen and (min-width: $responsiveWidth) {
      display: flex;

      .section-background {
        width: 36rem;
        opacity: 1;
      }

      .section-content {
        .section-buttons {
          a {
            padding: 1rem 4rem;
          }
        }
      }
    }
  }

  &.home-section-annuaire {
    .section-icon {
      span:nth-child(3), span:nth-child(4) {
        display: none;
      }
    }
  }

  &.home-section-charte {
    .section-card {
      .section-background {
        background-color: $charteColorBackground;
        right: 0;
        left: unset;

        span {
          border-width: 25rem 6.2rem 25rem 0;
          border-color: transparent $charteColorBackground transparent transparent;
          left: -6rem;
        }
      }

      .section-title {
        text-align: right;

        h2 > span {
          flex-direction: row-reverse;
          color: $charteColorText;
        }

        .section-subtitle {
          color: $charteColorText;
        }

        .section-icon {
          flex-direction: row-reverse;

          span {
            background-color: $charteColor;
            color: $charteColorText;

            i {
              background-color: $charteColor;
              color: $charteColorText;
            }

          }

          span:nth-child(4) {
            display: none;
          }
        }
      }

      .section-info {
        border-left: none;
        border-right: .25rem solid $charteColor;
        padding-left: 0;
        padding-right: 1rem;
        color: $charteColorText;
      }

      .section-content {
        p {
          color: $charteColorText;
        }

        .section-buttons {
          a {
            color: $charteColorText;
            border-color: $charteColorText;

            &:hover {
              background-color: $charteColorText;
              color: $textColor3;
            }

            &:active {
              background-color: transparentize($charteColorText, 0.1);
              color: $textColor3;
            }
          }
        }
      }
    }
  }

  &.home-section-cape {
    .section-card {
      .section-background {
        background-color: $capeColorBackground;

        span {
          border-color: transparent transparent transparent $capeColorBackground;
        }
      }

      .section-title {
        h1 {
          color: $capeColorText;
        }

        .section-subtitle {
          color: $capeColorText;
        }

        .section-icon {
          span {
            background-color: $capeColor;
            color: $capeColorText;

            i {
              background-color: $capeColor;
              color: $capeColorText;
              left: -0.150rem;
            }
          }
        }
      }

      .section-info {
        border-color: $capeColor;
        color: $capeColorText;
      }

      .section-content {
        p {
          color: $capeColorText;
        }

        .section-buttons {
          a {
            color: $capeColorText;
            border-color: $capeColorText;

            &:hover {
              background-color: $capeColorText;
              color: $textColor3;
            }

            &:active {
              background-color: transparentize($capeColorText, 0.1);
              color: $textColor3;
            }
          }
        }
      }
    }
  }
}


/*
  * About section
 */
.section-headtitle {
  text-align: center;
  padding: 2rem 0;
}

.services-features {
  .services-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      text-align: center;
      font-weight: $semibold-weight;
    }

    @media screen and (min-width: $responsiveWidth) {
      flex-direction: row;
      gap: 1rem;

      .service-card {
        height: 25rem;
      }
    }
  }
}
