@import '@/assets/variables';

#login-page {
  .login-intro-text {
    width: $fullSize;
    margin: 1rem;
    font-size: 1.375rem;
    font-weight: $normal-weight;
    color: $textColor1;
    padding-left: 5rem;
    position: relative;

    .icon {
      width: $logoSize;
      height: $logoSize;
      border-radius: $radiusCircle;
      background-color: $annuaireColor;
      position: absolute;
      top: calc(50% - 1.875rem);
      left: 0;
      text-align: center;

      i {
        color: $textColor3;
        font-size: 2rem;
      }
    }
  }

  .q-card {
    background-color: transparent;
    box-shadow: none;
    width: $fullSize;
    max-width: 37rem;
    margin: auto;
  }

  .login-links {
    text-align: center;
    margin-top: 2.5rem;

    a {
      display: inline-block;
      margin-bottom: 0.625rem;
      font-size: $textSize;
      font-weight: $normal-weight;
      color: $annuaireColor;
    }
  }

  .card-content {
    font-size: 1.125rem;
    font-weight: 400;
    color: $textColor2;
    margin-bottom: 1.563rem;

    .card-title {
      display: block;
      font-size: 1.375rem;
      font-weight: 400;
      color: $annuaireColor;
    }
  }

  @media screen and (min-width: $responsiveWidth) {
    .form-container {
      display: block;
    }

    .login-intro-text {
      max-width: 37.5rem;
      margin: 2rem auto;
    }

  }

  .q-checkbox {
    margin: -0.5rem;
  }

  .btn-group {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media screen and (min-width: $responsiveWidth) {
      flex-direction: row;
      justify-content: center;
    }
  }


  .q-form {
    margin-left: 0.09rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .q-field {
      margin-left: 0;
    }
  }
}

